# Framework docs:
# https://starlette.dev/config/

# for login sessions
SECRET_KEY = 'our_webapp_secret_key'

# path to templates folder
TEMPLATES_PATH = templates

# path to statics folder
STATICS_PATH = statics