<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
    {% block title %}{% endblock %}
	</title>

    <!-- Include Material Icons and Beer CSS -->
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.11.33/dist/cdn/beer.min.css" rel="stylesheet">
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.11.33/dist/cdn/beer.min.js"></script>

	{% block addition_style %}{% endblock %}

</head>
<body class="light">

    <!-- Fixed Top Menu -->
    <nav class="top fixed">
        <h5 class="min">Quiz and quests</h5>
        <a href="/" class="active">
            <i class="material-icons">home</i>
            <span>Home</span>
        </a>
    
  {% if request.user.is_authenticated %}
  
  
		<a href="/quizzes">
            <i class="material-icons">explore</i>
            <span>Quizzes</span>
        </a>
		<a href="/quests">
            <i class="material-icons">travel_explore</i>
            <span>Quests</span>
        </a>
		<a href="/view_quiz_top">
            <i class="material-icons">moving</i>
            <span>Quest top</span>
        </a>
  
  
  {% if request.user.is_admin %}
  
        <a href="/admin">
            <i class="material-icons">admin_panel_settings</i>
            <span>Admin Page</span>
        </a>
  
  {% endif %}

  {% if request.user.is_authenticated %}



        <a href="/profile">
            <i class="material-icons">settings</i>
            <span>{{ request.user.display_name }}</span>
        </a>


        <a href="/logout">
            <i class="material-icons">logout</i>
            <span>Logout Page</span>
        </a>

{% else %}
You are not logged in
{% endif %}




  {% else %}

        <a href="/login">
            <i class="material-icons">login</i>
            <span>Login</span>
        </a>
        <a href="/reg_new_user">
            <i class="material-icons">person_add</i>
            <span>Register new user</span>
        </a>



  {% endif %}

	
	
	</nav>



    <!-- Page Content -->
    <main class="responsive">
	


        <article class="hero">
			{% block body %}Base{% endblock %}
        
		</article>

        <section class="padding">
		
			{% block body_padding %}{% endblock %}
            
		
		</section>
    </main>

</body>
</html>


