{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block body %}
<p>
{% if request.user.is_authenticated %}

<h1>{{quest.name}}</h1>
{% if quest.description %}
<p>{{quest.description}}</p>
{% endif %}
<p>You are playing this quest.</p>

<ol>
{% for q in questions %}
{% if q.id == current_question_id|int %}
<li>{{q.question_title}}</li>
{% else %}
<li><a href="?current_question_id={{q.id}}">{{q.question_title}}</a></li>
{% endif %}
{% endfor %}
</ol>

{% if pqa %}
<p>You answered at {{pqa.answered_dt}}. Your answer is <b>{{pqa.answervar.answer_title}}</b> and it's {{pqa.is_rigth_answer}}.</p>

{% else %}

{% if answer_variants %}

<form action="/quest/submit_form-qqa/{{player_quest_id}}/{{current_question_id}}" method="POST">
  <p>Please select your answer:</p>

{% for av in answer_variants %}

  
  <label>
    <input type="radio" name="answer_var" value="{{av.id}}"    
	
	{% if loop.first %}checked{% endif %}
	
	> {{av.answer_title}}
  </label><br>
  


{% endfor %}
  <!-- Submit button to send the form data -->
  <button type="submit">Submit Choice</button>
</form>
{% endif %}

{% endif %}


<p><a href="/view/quest/{{quest.id}}">Back to quest</a></p>


{% else %}
You should login to play.
{% endif %}
</p>
{% endblock %}
