{% extends 'base.html' %}
{% block title %}User profile{% endblock %}
{% block body %}

{% if request.user.is_authenticated %}
<h1>Profile of {{ request.user.username }}</h1>

<p>{{ request.user.display_name }}</p>

<p>You quizzes and quests score: <a>
  <i>social_leaderboard</i>
  <span class="badge primary">{{request.user.user_total_score}}</span>
</a>
</p>

<h2>Quizzes</h2>

<table class="stripes">
<thead>
<tr>
<th>Quiz</th>
<th>Began</th>
<th>End</th>
<th>Score</th>
</tr>
</thead>
<tbody>
{% for pq in quizzes %}
<tr>
<td>
{% if pq.quest_end %}
<a href="/quest/in_play_it/{{pq.id}}" class="link">You are complete "{{pq.quest.name}}", you can view the log</a>
{% else %}
<a href="/quest/in_play_it/{{pq.id}}" class="link">You are in "{{pq.quest.name}}", proceed</a>
{% endif %}
</td>


<td>{{pq.quest_began.strftime('%Y-%m-%d %H:%M')}}</td>
<td>{% if pq.quest_end %}{{pq.quest_end.strftime('%Y-%m-%d %H:%M') }}{% endif %}</td>
<td>{% if pq.quest_end %}{{pq.final_score }}{% endif %}</td>

</tr>


{% endfor %}
</tbody>

</table>

<h2>Quests</h2>

<table class="stripes">
<thead>
<tr>
<th>Treasure quests</th>
<th>Began</th>
<th>End</th>
<th>Score</th>
</tr>
</thead>
<tbody>
{% for tq in treasure_quests %}
	<tr>
		<td><a href="/view/quest/{{tq.public_treasurequest.quest.id}}" class="link">{{tq.public_treasurequest.quest.name}}</a></td>
		<td>{{tq.public_treasurequest.quest_began.strftime('%Y-%m-%d %H:%M')}}</td>
		<td>{% if tq.public_treasurequest.quest_end %} {{tq.public_treasurequest.quest_end.strftime('%Y-%m-%d %H:%M') }} {% endif %}</td>
		<td>{{tq.user_score}}</td>
	</tr>
{% endfor %}
</tbody>

</table>


{% else %}
You should login.
{% endif %}

{% endblock %}
