{% extends 'base.html' %}
{% block title %}User profile{% endblock %}
{% block body %}



{% if request.user.is_authenticated %}
<h1>Profile of {{ request.user.username }}</h1>

{{ request.user.display_name }}


<table class="stripes">
<thead>
<tr>
<th>Quest</th>
<th>Began</th>
<th>End</th>
<th>Score</th>
</tr>
</thead>
<tbody>
{% for pq in quests %}
<tr>
<td>
{% if pq.quest_end %}
<p><a href="/quest/in_play_it/{{pq.id}}">You are complete "{{pq.quest.name}}", you can view the log.</a>.</p>
{% else %}
<p><a href="/quest/in_play_it/{{pq.id}}">You are in "{{pq.quest.name}}", proceed</a>.</p>
{% endif %}
</td>


<td>{{pq.quest_began.strftime('%Y-%m-%d %H:%M')}}</td>
<td>{% if pq.quest_end %}{{pq.quest_end.strftime('%Y-%m-%d %H:%M') }}{% endif %}</td>
<td>{% if pq.quest_end %}{{pq.final_score }}{% endif %}</td>

</tr>


{% endfor %}
</tbody>

</table>
	
{% else %}
You should login.
{% endif %}

{% endblock %}
