{% extends 'base.html' %}
{% block title %}Quests top{% endblock %}
{% block body %}

<h1>Quests top scoring</h1>

<p>
{% if request.user.is_authenticated %}

<table border=1>
<thead>
<th>Score</th>
<th>Quiz name</th>
<th>Date</th>
<th>Player</th>
</thead>
<tbody>
{% for pq in player_quests %}
<tr>
<td>{{pq.final_score}}</td>
<td>{{pq.quest.name}}</td>
<td>{{pq.quest_end.strftime('%Y-%m-%d %H:%M')}}</td>
<td>{{pq.user.display_name}}</td>
</tr>
{% endfor %}
</tbody>
</table>
	
{% else %}
You should login.
{% endif %}
</p>
{% endblock %}
